<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
		
	<!-- Spring管理的Struts2的Action -->
	<bean id="loginAction" class="com.purplelight.mcm.action.LoginAction" scope="prototype"></bean>
	<bean id="desktopAction" class="com.purplelight.mcm.action.DesktopAction" scope="prototype"></bean>
	<bean id="userAction" class="com.purplelight.mcm.action.UserAction" scope="prototype"></bean>
	<bean id="outterSystemAction" class="com.purplelight.mcm.action.OutterSystemAction" scope="prototype"></bean>
	<bean id="appFuncAction" class="com.purplelight.mcm.action.AppFunctionAction" scope="prototype"></bean>
	<bean id="dictAction" class="com.purplelight.mcm.action.DictionaryAction" scope="prototype"></bean>
	<bean id="articleAction" class="com.purplelight.mcm.action.ArticleAction" scope="prototype"></bean>
	<bean id="feedbackAction" class="com.purplelight.mcm.action.FeedbackAction" scope="prototype"></bean>
	<bean id="loginApi" class="com.purplelight.mcm.api.LoginApi" scope="prototype"></bean>
	<bean id="updateUserInfoApi" class="com.purplelight.mcm.api.UpdateUserInfoApi" scope="prototype"></bean>
	<bean id="appFuncApi" class="com.purplelight.mcm.api.AppFunctionApi" scope="prototype"></bean>
	<bean id="modifyPasswordApi" class="com.purplelight.mcm.api.ModifyPasswordApi" scope="prototype"></bean>
	<bean id="bindUserApi" class="com.purplelight.mcm.api.BindUserApi" scope="prototype"></bean>
	<bean id="statTextApi" class="com.purplelight.mcm.api.StatTestApi" scope="prototype"></bean>
	<bean id="feedbackApi" class="com.purplelight.mcm.api.FeedbackApi" scope="prototype"></bean>
	<bean id="quickRegisterApi" class="com.purplelight.mcm.api.IsQuickRegisterApi" scope="prototype"></bean>
	<bean id="registerApi" class="com.purplelight.mcm.api.RegisterApi" scope="prototype"></bean>
	<bean id="outterSystemApi" class="com.purplelight.mcm.api.OutterSystemApi" scope="prototype"></bean>
	<bean id="estimateApi" class="com.purplelight.mcm.api.EstimateApi" scope="prototype"></bean>
	<bean id="specialCheckApi" class="com.purplelight.mcm.api.SpecialCheckApi" scope="prototype"></bean>
	<bean id="commonApi" class="com.purplelight.mcm.api.CommonApi" scope="prototype"></bean>
	
	<!-- Spring管理的Service -->
	<bean id="systemUserService" class="com.purplelight.mcm.service.impl.SystemUserServiceImpl"></bean>
	<bean id="dictService" class="com.purplelight.mcm.service.impl.DictionaryServiceImpl"></bean>
	<bean id="outterSystemService" class="com.purplelight.mcm.service.impl.OutterSystemServiceImpl"></bean>
	<bean id="appFuncService" class="com.purplelight.mcm.service.impl.AppFunctionServiceImpl"></bean>
	<bean id="articleService" class="com.purplelight.mcm.service.impl.ArticleServiceImpl"></bean>
	<bean id="feedbackService" class="com.purplelight.mcm.service.impl.FeedbackServiceImpl"></bean>
	<bean id="userBindSystemService" class="com.purplelight.mcm.service.impl.UserBindSystemServiceImpl"></bean>
	<bean id="rsOmEstimateService" class="com.purplelight.mcm.service.impl.RedStarOmEstimateServiceImpl"></bean>
	<bean id="rsOmSpecialCheckervice" class="com.purplelight.mcm.service.impl.RedStarOmSpecialCheckServiceImpl"></bean>
	<bean id="rsOmCommonService" class="com.purplelight.mcm.service.impl.RedStarOmCommonServiceImpl"></bean>
	
	<!-- Spring管理的Dao -->
	<bean id="systemUserDao" class="com.purplelight.mcm.dao.impl.SystemUserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="dictNameDao" class="com.purplelight.mcm.dao.impl.DictionaryNameDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="dictItemDao" class="com.purplelight.mcm.dao.impl.DictionaryItemDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="outterSystemDao" class="com.purplelight.mcm.dao.impl.OutterSystemDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="appFuncDao" class="com.purplelight.mcm.dao.impl.AppFunctionDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="articleDao" class="com.purplelight.mcm.dao.impl.ArticleDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="feedbackDao" class="com.purplelight.mcm.dao.impl.FeedbackDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="userBindSystemDao" class="com.purplelight.mcm.dao.impl.UserBindSystemDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
</beans>