<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    
    <!-- 启用spring注解支持 -->
    <context:annotation-config />
    <context:property-placeholder location="classpath:hibernate/hibernate.properties"/>
    
    <!-- C3P0 数据源 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${hibernate.connection.driver_class}" />
        <property name="jdbcUrl" value="${hibernate.connection.url}" />
        <property name="user" value="${hibernate.connection.username}" />
        <property name="password" value="${hibernate.connection.password}" />
        <property name="initialPoolSize" value="${hibernate.connection.initialPoolSize}" />
        <property name="minPoolSize" value="${hibernate.connection.minPoolSize}" />
        <property name="maxPoolSize" value="${hibernate.connection.maxPoolSize}" />
        <property name="preferredTestQuery" value="select 1 from dual " />
    </bean>
    
    <!--数据源 -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
    	<property name="dataSource" ref="dataSource" />
    	<property name="configLocation">
    		<value>classpath:hibernate/hibernate.cfg.xml</value>
    	</property>
    	<property name="annotatedClasses">
    		<list>
    			<value>com.purplelight.mcm.entity.SystemUser</value>
    			<value>com.purplelight.mcm.entity.OutterSystem</value>
    			<value>com.purplelight.mcm.entity.DictionaryName</value>
    			<value>com.purplelight.mcm.entity.DictionaryItem</value>
    			<value>com.purplelight.mcm.entity.AppFunction</value>
    			<value>com.purplelight.mcm.entity.Article</value>
    			<value>com.purplelight.mcm.entity.Feedback</value>
    			<value>com.purplelight.mcm.entity.UserBindSystem</value>
    			<value>com.purplelight.mcm.entity.AppFileManage</value>
    		</list>
    	</property>
    </bean>
    
    <!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- 事务的传播特性 -->
	<tx:advice id="txadvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>
	
	<!-- 配置使用事务的范围 -->
	<aop:config>
		<aop:pointcut id="allServiceMethod" expression="execution(* com.purplelight.mcm.service.*.*(..))" />
		<aop:advisor advice-ref="txadvice" pointcut-ref="allServiceMethod" />
	</aop:config>
	
</beans>